h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 3em;
    text-align: center;

    /*margin: 20px;*/
    /*padding: 20px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

body {
    font-family: 'Barlow', sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

section {
    width: 30%;
    margin: auto;
    padding: 25px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 100px 100px 0;
}

form div label {
    margin-top: 7px;
    margin-bottom: 7px;
    display: block;
}

.radio-and-checkbox-label {
    display: inline;
}

.button-container {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 20px;
}

.button-container button {
    background-color: crimson;
    font-size: 1.3em;
    padding: 12px;
    border-radius: 12px;
}

.button-container button:focus {
    background-color: darkred;
}

.button-container button:hover {
    color: whitesmoke;
}
